<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/nav %>
    <div class="container">
      <% var url = '/notes/' + note.id %>
      </form>
      <div id="editNote" class="hide card-panel cyan lighten-5 hoverable">
        <div class="editNote">
          <form id="edit" action=<%= url + '?_method=PUT' %> method="POST">
            <input type="text" name="title" id="title" value="<%= note.title %>" />
            <textarea name="description" id="description"><%= note.description %></textarea>
            <button id="cancelNoteEdit" class="btn" type="button">Cancel</button>
            <button id="saveNoteEdit" class="btn orange accent-2">Save</button>
          </form>
        </div>
      </div>
      <div id="noteDetails" class="card-panel cyan lighten-5  hoverable">
        <div class="noteTitle"><%= note.title %></div>
        <div class="noteDescription"><%= note.description %></div>
      </div>

      <div class="row">
        <div class="col s2 m2 l2">
          <button id="editNoteButton" class="btn orange accent-2">Edit Note</button>
          <form action="<%= url + '?_method=DELETE' %>" method='POST'>
        </div>
        <div class="col s2 m2 l2">
          <button class="btn deep-orange accent-4">Delete</button>
        </div>
      </div>

    </div>
    <script src="../javascripts/main.js" charset="utf-8"></script>
  </body>
</html>
